@import 'tailwind-base-reset';

.tailwind-root {
    @apply bg-[var(--bg-base)] text-[var(--text-primary)];
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;

    input[type='text'],
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='search'],
    input[type='tel'],
    input[type='url'],
    textarea,
    select {
        @apply focus:border-primary focus:outline-none;
    }
    input[type='number'] {
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    div,
    input,
    button,
    textarea,
    select {
        @apply border-border;
    }
    td,
    th {
        @apply border-borderMoreContrast;
    }
}
